html{
  background-color: #282c34;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.warningIcon {
  display: block;
  background-image: url('icons/warning.png');
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center center;
}
.warningLineDecoration {
	background: #f5dc3c;
	width: 5px !important;
	margin-left: 3px;
}

.errorIcon {
  display: block;
  background-image: url('icons/error.png');
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: center center;
}
.errorLineDecoration {
	background: #df4f5f;
	width: 5px !important;
	margin-left: 3px;
}

.infoIcon {
  display: block;
  background-image: url('icons/info.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.infoLineDecoration {
	background: #2096f3;
	width: 5px !important;
	margin-left: 3px;
}

.left-bar, .files-bar{
  background-color: #272822;
}
.left-bar .monaco-action-bar .action-item .codicon{
  width: 48px; height: 48px;
}
.left-bar .monaco-action-bar .action-label{
  padding: 0;
}
.monaco-editor .monaco-hover{
  padding: 0.1em 0.3em;
}
.monaco-action-bar .actions-container {
  display: flex;
  margin: 0 auto;
  padding: 0;
  height: 100%;
  width: 100%;
  align-items: center;
}
.monaco-action-bar .action-item{
  display: block;
  position: relative;
}
.action-label.codicon{
  font-size: 24px;
  align-items: center;
  justify-content: center;
}
.codicon-search-view-icon:before {
  content: '\ea6d';
}
.codicon-explorer-view-icon:before {
  content: '\eaf0';
}
.codicon-play-icon:before {
  content: "\ebd0";
}
.codicon-edit-icon:before {
  content: "\ea73";
}

.files-bar{
  box-sizing: border-box;
  padding: 0.5em 0.25em;
  border-left: thin solid black;
}
.files-bar .monaco-list-row{
  position: relative;
  cursor: pointer;
}
.files-bar .monaco-icon-label{
  color: #ccc;
  font-size: 0.8em;
}
.files-bar .monaco-icon-label:before {
  background-size: 16px;
  background-position: 0;
  background-repeat: no-repeat;
  padding-right: 6px;
  width: 16px;
  height: 22px;
  line-height: inherit!important;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: top;
  flex-shrink: 0;
  font-family: 'codicon';
  content: "\ea73";
  text-align: center;
}

.row{
  display: grid;
  grid-template-columns: 50% 50%;
}

.row > *{
  padding-left: 0.2em;
  height: 100vh;
  max-height: 100vh;
}
.row > *:last-child{
  border-left: 1px solid black;
}
.container{
  box-sizing: border-box;
  color: #abb2bf;
  max-height: 100vh;
  overflow: auto;
  padding-left: 2em;
  padding-right: 2em;
  /* scroll-behavior: smooth; */
}
p.choice{
  text-align: center;
}
p.choice a{
  text-decoration: none;
  color: #fff;
}
p.tags{
  text-align: right;
  margin-right: 1em;
  font-size: 0.9em;
  font-family: monospace;
}
p{
  animation-duration: 2s;
  animation-name: appear;
  animation-fill-mode: backwards;
  animation-delay: 300ms;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

a{color: #ccc;}


@media screen and (max-width: 39.9375em) {
  body{
    max-height: 10vh;
    max-width: 100%;
    overflow-x: hidden;
  }
  .row{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50% 50%;
    width: 100%;
    /* max-height: 100vh; */
  }
  .row > * {
    height: 50vh;
    max-height: 50vh;
    width: 100vw;
    max-width: 100%;
  }
  .row > *:last-child{
    border-left: none;
  }
  .row > *:first-child{
    border-bottom: 1px solid black;
  }
  .editor{
    font-size: 16px;
  }
  .container{
    max-height: 50vh;
    height: 50vh;
  }
}
